apiVersion: v1
kind: Namespace
metadata:
  name: namespace-simple
  labels:
    app: namespace-simple
    instance: "{{.package.metadata.name}}"
  annotations:
    package-operator.run/phase: namespaces
